body{
    background-color: rgb(220, 241, 255);
    max-width: 750px;
    margin: auto;
}

h1, h3{
    color:rgb(17, 17, 17);
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.chart{
  background-color: white;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  width: 280px;
  min-width: 600px;
}

.dashboardButton{
  background: #33A8FF;
  border-radius: none;
  color: blue;
  padding: 15px;
  font-family: 'Raleway', sans-serif;
}

.button {
  background: #483D8B;
  border-radius: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}
