



/* This is my first proper css file */

body{
    background-color: rgb(220, 241, 255);
    max-width: 500px;
    margin: auto
}

h1, h3, p{
    color:rgb(17, 17, 17);
    font-family: 'Raleway', sans-serif;
}

.chart{
    background-color: white;
    width:500px;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    text-align: center;
}

.dashboardButton {
  background-color: #33A8FF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
