



/* This is my first proper css file */

body{
    background-color: rgb(255, 240, 254);
    max-width: 450px;
    margin: auto
}

h1, h3, p{
    color:rgb(17, 17, 17);
    font-family: 'Raleway', sans-serif;
}

.chart{
    background-color: white;
    width:330px;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
}

