



/* This is my first proper css file */

body{
    background-color: rgb(220, 241, 255);
    max-width: 700px;
    margin: auto
}

h1, h3, p{
    color:rgb(17, 17, 17);
    font-family: 'Raleway', sans-serif;
}

.chart{
    background-color: white;
    max-width:700px;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

.dashboardButton{
  background: #33A8FF;
  border-radius: none;
  color: blue;
  padding: 15px;
  font-family: 'Raleway', sans-serif;
}

.button {
  background: #483D8B;
  border-radius: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}
